<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="s3xytheater - Pied" />
<title>Cinéma</title>
<style type="text/css">
body {
	background-color:#000000;
	background-size: auto auto;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>

<body>
<table width="100%" height="100%" border="0">
  <tbody>
	<tr>
      <td width="20%" height="10%">&nbsp;</td>
      <td width="20%" height="10%">&nbsp;</td>
      <td width="20%" height="10%"><center><form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="business" value="NTTQ68HD2T234" />
<input type="hidden" name="no_recurring" value="1" />
<input type="hidden" name="item_name" value="Vous pouvez me remercier en participant
aux frais d'hebergement de s3xytheater.fr" />
<input type="hidden" name="currency_code" value="EUR" />
<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Bouton Faites un don avec PayPal" />
<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
</form></center></td>
      <td width="20%" height="10%">&nbsp;</td>
      <td width="20%" height="10%">&nbsp;</td>
    </tr>
  </tbody>
</table>

</body>
</html>
