<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Menu</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<header class="topbar">

    <!-- Zone des icônes -->
    <div class="icons">
        <a href="../../content/accueil/accueil.html?var=26112025" target="mainFrame">
            <img src="./img/tv_cinema.png" alt="TV & Cinéma">
        </a>
        <a href="../../content/musiques/musiques.html?var=26112025" target="mainFrame">
            <img src="./img/Musiques.png" alt="Musiques">
        </a>
        <a href="../../content/jeux/jeux.html?var=26112025" target="mainFrame">
            <img src="./img/jeux.png" alt="Jeux">
        </a>
        <a href="../../content/youtube_tesla/youtube_tesla.html?var=26112025" target="mainFrame">
            <img src="./img/youtube-tesla.png" alt="YouTube Tesla">
        </a>
        <a href="https://www.youtube.com/redirect?q=https://manoxx75.github.io/tesla_portal/" target="_parent">
            <img src="./img/Tesla_T.png" alt="Tesla">
        </a>
        <a href="../../content/recharges/recharges.html?var=26112025" target="mainFrame">
            <img src="./img/recharge.png" alt="Recharge">
        </a>
        <a href="../../content/visios/visios.html?var=26112025" target="mainFrame">
            <img src="./img/Visios.png" alt="Visios">
        </a>
        <a href="../../content/notices/notices.html?var=26112025" target="mainFrame">
            <img src="./img/Notices.png" alt="Notices">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100013671347098" target="_parent">
            <img src="./img/FB.png" alt="Facebook">
        </a>
    </div>

    <!-- Zone des liens et recherches -->
    <div class="tools">
        <a class="link" href="https://www.tesla.com/fr_fr/referral/eric477965" target="_parent">
            Mon lien de parrainage
        </a>

        <div class="search-group">
            <input type="text" id="rech_g" placeholder="Recherche Google">
            <button onclick="recherche()">Google</button>
        </div>

        <div class="search-group">
            <input type="text" id="identification" value="https://">
            <button onclick="openlink()">Afficher</button>
        </div>

        <span class="mail">mail : wander.eric@icloud.com</span>
    </div>

</header>

<script>
function openlink() {
    const obj = document.getElementById("identification");
    const url = obj.value.startsWith("http") ? obj.value : "http://" + obj.value;
    window.open(url, "_parent");
}

function recherche() {
    const obj = document.getElementById("rech_g");
    window.open("https://www.google.com/search?q=" + obj.value, "_parent");
}
</script>

</body>
</html>
