<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Menu</title>
<style type="text/css">
body {
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>

<body>
<table border="0" width="100%" height="100">
		<tr>
		  <td width="10.6%"><center><a href="../../content/accueil/accueil.html?var=26112025" target="mainFrame"><img src="./img/tv_cinema.png" height="100" alt=""/></a></center></td>
		  <td width="10.6%"><center><a href="../../content/musiques/musiques.html?var=26112025" target="mainFrame"><img src="./img/Musiques.png" height="100" alt=""/></a></center></td>
		  <td width="10.6%"><center><a href="../../content/jeux/jeux.html?var=26112025" target="mainFrame"><img src="./img/jeux.png" height="100" alt=""/></a></center></td>
		  <td width="10.6%"><center><a href="../../content/youtube_tesla/youtube_tesla.html?var=26112025" target="mainFrame"><img src="./img/youtube-tesla.png" height="100" alt=""/></a></center></td>
		  <td width="15.2%"><center><a href="https://www.youtube.com/redirect?q=https://s3xytheater.fr/" target="_parent"><img src="./img/Tesla_T.gif" height="100" alt=""/></a></center></td>
		  
		  <td width="10.6%"><center><a href="../../content/recharges/recharges.html?var=26112025" target="mainFrame"><img src="./img/recharge.png" height="100" alt=""/></a></center></td>
		  <td width="10.6%"><center><a href="../../content/visios/visios.html?var=26112025" target="mainFrame"><img src="./img/Visios.png" height="100" alt=""/></a></center></td>
		  <td width="10.6%"><center><a href="../../content/notices/notices.html?var=26112025" target="mainFrame"><img src="./img/Notices.gif" height="100" alt=""/></a></center></td>
		  <td width="10.6%"><center><a href="https://www.facebook.com/profile.php?id=100013671347098" target="_parent"><img src="./img/FB.png" height="100" alt=""/></a></center></td>
		</tr>
</table>
<table width="100%" height="100%" border="0">
  <tbody>
	<tr>
      <td width="20%" height="10%"><center><p style="color:white;"><a href="https://www.tesla.com/fr_fr/referral/eric477965" target="_parent" style="color:white">Mon lien de parrainage</a></p></center></td>
      <td width="20%" height="10%"><center><input type="text" id="rech_g" style="color: #FFFFFF; width: 100%; background-color: #000000;" value=""></center></td>
      <td width="10%" height="10%"><input type="button" onclick="recherche()" value="Google"></td>
      <td width="20%" height="10%"><center><input type="text" id="identification" style="color: #FFFFFF; width: 100%; background-color: #000000;" value="https://"></center></td>
      <td width="10%" height="10%"><input type="button" onclick="openlink()" value="Afficher"></td>
      <td width="20%" height="10%"><center><p style="color:white;">mail: admin@s3xytheater.fr</p></center></td>
    </tr>
  </tbody>
</table>

<script language="JavaScript"><!-- ;
function openlink() {
var obj = document.getElementById("identification")
var verif = obj.value.substring(0,4)
if (verif == "http") {
	window.open(obj.value+'', "_parent");
} else {
	window.open('http://'+ obj.value +'', "_parent");
}
}
function recherche() {
var obj = document.getElementById("rech_g")
	window.open('http://www.google.com/search?q='+ obj.value +'', "_parent");
}
// --></script>

</body>
</html>
